Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake/lovesegfault-vim-config): cc4b2b32 -> 858583c6
  flake.lock
Due: none

chore(flake/home-manager): a46e7020 -> a9953635
  flake.lock
Due: none

chore(flake/nix-index-database): bdba2469 -> f4a5ca57
  flake.lock
Due: none

chore(hosts/riemann): remove
  hosts/riemann/btt-octopus-max-ez.config
  hosts/riemann/btt-sb2240.config
  hosts/riemann/default.nix
  hosts/riemann/klipper.cfg
  hosts/riemann/password.age
  nix/hosts.nix
  secrets.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/darwin): edabc790 -> 3c52583b
  flake.lock
Due: none

chore(flake/disko): abc8baff -> 2ed5e30f
  flake.lock
Due: none

chore(flake/nix-fast-build): 8e7c9d76 -> f51f479d
  flake.lock
Due: none

chore(flake/nixos-hardware): 672ac2ac -> 45348ad6
  flake.lock
Due: none

ci: don't require eval to run
  .github/workflows/ci.yaml
Due: none

chore: remove lua formatting configs (moved to vim-config)
  .luacheckrc
  .stylua.toml
  flake.nix
  nix/dev-shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: move back to upstream stylix
  core/default.nix
  flake.lock
  flake.nix
  nix/darwin.nix
  nix/home-manager.nix
  nix/nixos.nix
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: properly skip eval without attrs
  .github/workflows/ci.yaml
Due: none

ci: get rid of hasEval
  .github/workflows/ci.yaml
Due: none

chore(flake/lovesegfault-vim-config): 858583c6 -> 69dcbf35
  flake.lock
Due: none

chore(flake/darwin): 3c52583b -> 6ab87b7c
  flake.lock
Due: none

fix: move back to upstream stylix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/disko): 2ed5e30f -> 869ba3a8
  flake.lock
Due: none

chore(flake/treefmt-nix): 705df926 -> 84637a7a
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
