Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

flake.lock: Update
  flake.lock
Due: none

sway/sway: set MOZ_USE_XINPUT2=1
  sway/sway.nix
  users/bemeurer/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

.github/workflows/ci: block deleuze
  .github/workflows/ci.yaml
Due: none

core/nix: optimise at 03:00
  core/nix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

core/sudo: incorporate into core/default
  core/default.nix
  core/sudo.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

core/zsh: remove {...}
  core/zsh.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

core/magicdns: nuke
  core/magicdns.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

core/default: fmt
  core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

nix/overlays/menu: allow hosts in passmenu
  nix/overlays/menu/default.nix
Due: nixpkgs-fmt, gen-ci

treewide: move to per-host root passwordFile
  .sops.yaml
  core/default.nix
  hosts/aurelius/default.nix
  hosts/aurelius/root-password.yaml
  hosts/cantor/default.nix
  hosts/cantor/root-password.yaml
  hosts/deleuze/default.nix
  hosts/deleuze/root-password.yaml
  hosts/feuerbach/default.nix
  hosts/feuerbach/root-password.yaml
  hosts/foucault/default.nix
  hosts/foucault/root-password.yaml
  hosts/fourier/default.nix
  hosts/fourier/root-password.yaml
  hosts/goethe/default.nix
  hosts/goethe/root-password.yaml
  hosts/hegel/default.nix
  hosts/hegel/root-password.yaml
  hosts/riemann/default.nix
  hosts/riemann/root-password.yaml
  hosts/sartre/default.nix
  hosts/sartre/root-password.yaml
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/foucault: split
  hosts/foucault/default.nix
  hosts/foucault/state.nix
  hosts/foucault/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/fourier: split
  hosts/fourier/default.nix
  hosts/fourier/prometheus.nix
  hosts/fourier/samba.nix
  hosts/fourier/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/foucault: fmt
  hosts/foucault/state.nix
  hosts/foucault/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/goethe: split
  hosts/goethe/default.nix
  hosts/goethe/dhcpd4.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/hegel: split
  hosts/hegel/default.nix
  hosts/hegel/state.nix
  hosts/hegel/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/riemann: split
  hosts/riemann/default.nix
  hosts/riemann/klipper.nix
  hosts/riemann/octoprint.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/sartre: rename secret
  .sops.yaml
  hosts/sartre/ddclient.yaml
  hosts/sartre/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

hosts/deleuze/root-password: prune keys
  hosts/deleuze/root-password.yaml
Due: none

treewide: rotate secrets encryption
  dev/stcg-gcs/stcg-aws-credentials.yaml
  dev/stcg-x86_64-builder/stcg-x86_64-builder-key.yaml
  hardware/nixos-aarch64-builder/nixos-aarch64-builder-key.yaml
  hosts/aurelius/root-password.yaml
  hosts/cantor/root-password.yaml
  hosts/deleuze/root-password.yaml
  hosts/feuerbach/root-password.yaml
  hosts/foucault/root-password.yaml
  hosts/fourier/root-password.yaml
  hosts/goethe/root-password.yaml
  hosts/hegel/root-password.yaml
  hosts/riemann/root-password.yaml
  hosts/sartre/ddclient.yaml
  hosts/sartre/root-password.yaml
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

users/bemeurer: use passwordFile
  .sops.yaml
  users/bemeurer/bemeurer-password.yaml
  users/bemeurer/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

treewide: move back to hashedPassword for now
  core/default.nix
  hosts/aurelius/default.nix
  hosts/cantor/default.nix
  hosts/deleuze/default.nix
  hosts/feuerbach/default.nix
  hosts/foucault/default.nix
  hosts/fourier/default.nix
  hosts/goethe/default.nix
  hosts/hegel/default.nix
  hosts/riemann/default.nix
  hosts/sartre/default.nix
  users/bemeurer/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

.envrc: watch more files
  .envrc
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
