Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/home-manager): 8d5b07fc -> c645cc9f
  flake.lock
Due: none

feat(hosts/foucault): enable roon
  hosts/foucault/default.nix
  hosts/foucault/roon.nix
  hosts/foucault/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): move to nixos-unstable
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

feat(nix/overlays): bring in newer roon and hqplayerd while we wait on nixpkgs
  nix/overlays/roon-latest.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): c645cc9f -> 0639aa34
  flake.lock
Due: none

chore(flake/home-manager): 0639aa34 -> 177f1887
  flake.lock
Due: none

chore(flake/home-manager): 177f1887 -> 6311f4ad
  flake.lock
Due: none

chore(flake/home-manager): 6311f4ad -> 45ef70cc
  flake.lock
Due: none

chore(flake/home-manager): 45ef70cc -> 1e66e035
  flake.lock
Due: none

ci(update-flakes): run every 30min
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/home-manager): 1e66e035 -> c5fc1575
  flake.lock
Due: none

chore(flake/home-manager): c5fc1575 -> d4081057
  flake.lock
Due: none

chore(flake/home-manager): d4081057 -> 602f2ce5
  flake.lock
Due: none

refactor(hosts/poincare): use nix-darwin
  flake.lock
  flake.nix
  hosts/poincare/default.nix
  nix/checks.nix
  nix/darwin.nix
  nix/dev-shell.nix
  nix/home-manager.nix
  nix/host-drvs.nix
  nix/hosts.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): use single kitty instance
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: enable home-manager.useUserPackages
  core/default.nix
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): remove terminfo dirs
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): enable auto updating
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): remove homebrew git
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/git): use diff3 b/c zdiff3 is too new
  users/bemeurer/core/git.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/foucault/roon): add new ports
  hosts/foucault/roon.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/core): remove conditional neofetch
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): add little snitch
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 602f2ce5 -> 241a375f
  flake.lock
Due: none

chore(flake/home-manager): 241a375f -> 66d7007e
  flake.lock
Due: none

chore(flake/home-manager): 66d7007e -> 2c94b980
  flake.lock
Due: none

chore(flake/nixos-hardware): 3bf48d35 -> 14e9f729
  flake.lock
Due: none
