Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake/nix-index-database): b61432cc -> fb4949a2
  flake.lock
Due: none

chore(flake/flake-utils): 3db36a8b -> 93a2b84f
  flake.lock
Due: none

chore(flake/home-manager): 2bd74d92 -> 95201931
  flake.lock
Due: none

chore(flake/home-manager): 95201931 -> c8cb60b8
  flake.lock
Due: none

chore(flake/nixpkgs): 7067edc6 -> ac718d02
  flake.lock
Due: none

chore(flake/home-manager): c8cb60b8 -> 5e94669f
  flake.lock
Due: none

chore(flake/home-manager): 5e94669f -> b832390d
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 1a20b970 -> 32b1dbed
  flake.lock
Due: none

feat: pass hostType through specialArgs
  nix/darwin.nix
  nix/home-manager.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(core): unify darwin and nixos
  core/darwin.nix
  core/default.nix
  core/nix.nix
  core/nixos.nix
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(graphical): unify darwin and nixos
  graphical/darwin.nix
  graphical/default.nix
  graphical/fonts.nix
  graphical/nixos.nix
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(dev): unify darwin and nixos
  core/default.nix
  core/nixos.nix
  dev/default.nix
  dev/documentation.nix
  hosts/spinoza/default.nix
  services/podman.nix
  services/virt-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer): unify darwin and nixos
  core/darwin.nix
  hosts/poincare/default.nix
  users/bemeurer/darwin.nix
  users/bemeurer/default.nix
  users/bemeurer/home-manager.nix
  users/bemeurer/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer): unify home-manager
  hosts/derrida/default.nix
  hosts/goethe/default.nix
  hosts/luther/default.nix
  users/bemeurer/core/btop.nix
  users/bemeurer/core/default.nix
  users/bemeurer/darwin.nix
  users/bemeurer/default.nix
  users/bemeurer/home-manager.nix
  users/bemeurer/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): b832390d -> 62cc5d81
  flake.lock
Due: none

chore(dev): remove
  dev/podman.nix
  dev/virt-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 62cc5d81 -> 3239e0b4
  flake.lock
Due: none

chore(flake/nixos-hardware): 556101ff -> 994584bb
  flake.lock
Due: none

feat(flake): config substituters
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(core): don't enable verbose hm activation by default
  core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): ac718d02 -> b573a7f6
  flake.lock
Due: none

chore(flake/nix-index-database): fb4949a2 -> 16cb562f
  flake.lock
Due: none

chore(flake/nix-index-database): 16cb562f -> e689206f
  flake.lock
Due: none

chore(flake/nixos-hardware): 994584bb -> a4bc6670
  flake.lock
Due: none

chore(flake/nix-index-database): e689206f -> 2f5e6e91
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
