Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/home-manager): 192675b1 -> 462d4a7a
  flake.lock
Due: none

chore(flake/nixpkgs): 641a189d -> 7916caf7
  flake.lock
Due: none

chore(flake/nixpkgs): 7916caf7 -> 6a17e6fb
  flake.lock
Due: none

refactor(graphical/fonts): add unifont and dejavu_fonts
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/templates): 17d85577 -> f4c17dfb
  flake.lock
Due: none

chore(flake/home-manager): 462d4a7a -> f206f94a
  flake.lock
Due: none

chore(flake/nixpkgs): 6a17e6fb -> 2410a4db
  flake.lock
Due: none

chore(flake/home-manager): f206f94a -> 990ca662
  flake.lock
Due: none

refactor(nix/overlays): remove upstreamed fix-nix-flake
  nix/overlays/fix-nix-flake.nix
Due: nixpkgs-fmt, gen-ci

feat(hosts/beme-glaptop): init
  flake.lock
  flake.nix
  hosts/beme-glaptop/default.nix
  nix/overlay.nix
  nix/overlays/glinux-path.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/beme-glaptop): workaround yubikey bug by disabling ccid
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): add registry to home-manager cfgs
  flake.nix
  hosts/beme-glaptop/default.nix
  nix/home-manager-flake.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts/beme-glaptop): package geoclue agent
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/beme-glaptop): remove redundant exports
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/beme-glaptop): move SSH_AUTH_SOCK to sessionVariables
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/beme-glaptop): don't double-source the bash profile
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/beme-glaptop): separate zsh and bash completely
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(core/nix): use nix 2.6
  core/nix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 2410a4db -> 9ddd6d72
  flake.lock
Due: none

feat(users/bemeurer/dev): add commitizen to pkgs
  users/bemeurer/dev/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): make gammastep wait for geoclue
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/overlays/scripts/spawn): get basename of arg, not script
  nix/overlays/scripts/spawn.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 9ddd6d72 -> 47f5a774
  flake.lock
Due: none

chore(flake/home-manager): 990ca662 -> 93b52ce0
  flake.lock
Due: none

feat(users/bemeurer/graphical): add xdg-utils
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 93b52ce0 -> cbc17601
  flake.lock
Due: none
