Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

refactor(users/bemeurer/graphical): replace speedcrunch with qalculate
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/linux-lto): enable CPU_FREQ_STAT for latest_lto_zen3
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts/spinoza): map wacom finger to eDP-1 display
  hosts/spinoza/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): add newer git system-wide
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/trusted/graphical): make 1p restart quicker
  users/bemeurer/trusted/graphical.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical/sway): use foot term again
  hosts/spinoza/optimized-pkgs.nix
  nix/overlays/scripts/drunmenu.nix
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical/sway): use foot-server
  hosts/spinoza/sway.nix
  nix/overlays/scripts/drunmenu.nix
  users/bemeurer/graphical/sway/foot.nix
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical/sway): don't use foot-server
  nix/overlays/scripts/drunmenu.nix
  users/bemeurer/graphical/sway/foot.nix
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): d89bdff4 -> 5bd66dc6
  flake.lock
Due: none

chore(flake/darwin): ef0e7f41 -> 157a3c3c
  flake.lock
Due: none

refactor(hardware/bluetooth): remove blueman
  hardware/bluetooth.nix
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/bluetooth): add bluetuith
  hardware/bluetooth.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/spinoza): don't optimize kitty
  hosts/spinoza/optimized-pkgs.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(hosts/hegel): remove
  hosts/hegel/default.nix
  hosts/hegel/i3.nix
  hosts/hegel/password.age
  hosts/hegel/state.nix
  hosts/hegel/sway.nix
  nix/hosts.nix
  secrets.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(hosts/fourier): remove
  hosts/fourier/default.nix
  hosts/fourier/password.age
  hosts/fourier/pihole.nix
  hosts/fourier/prometheus.nix
  hosts/fourier/samba.nix
  hosts/fourier/state.nix
  hosts/fourier/unbound.nix
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(hosts/bohr): remove
  hosts/bohr/default.nix
  hosts/bohr/hqplayerd.nix
  hosts/bohr/password.age
  hosts/bohr/state.nix
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 38e16b19 -> a63021a3
  flake.lock
Due: none

chore(flake/darwin): 157a3c3c -> db543d32
  flake.lock
Due: none

chore(flake/darwin): db543d32 -> 80cec511
  flake.lock
Due: none

chore(flake/impermanence): 2237ad28 -> def994ad
  flake.lock
Due: none

feat(hardware/thinkpad-z13): enable upower
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hardware/thinkpad-z13): enable thinkfan
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/spinoza): override gammactrl's brightness to avoid OLED wonkyness
  hosts/spinoza/sway.nix
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/spinoza): set gammastep's brightness to 1.0 instead of null b/c the ini generator is stupid
  hosts/spinoza/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): remove manual gammastep after/wants
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): rename polkit to polkit-gnome
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/thinkpad-z13): remove thinkfan
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): a63021a3 -> 97747d32
  flake.lock
Due: none

refactor(nix/deploy): disable auto-rollback
  nix/deploy.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/thinkpad-z13): always use schedutil
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): don't override flake-compat for home-manager
  flake.nix
Due: nixpkgs-fmt, gen-ci

fix(hosts/nozick/nextcloud): wait for postgresql to start
  hosts/nozick/nextcloud.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 97747d32 -> 2da64a81
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
