Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/nixos-hardware): e4a21ddc -> 7dc46304
  flake.lock
Due: none

chore(flake/stylix): 76a8050a -> 095ab80a
  flake.lock
Due: none

chore(flake/nixpkgs): da45bf6e -> 1a411f23
  flake.lock
Due: none

feat(users/bemeurer/core/neovim): document keymaps
  users/bemeurer/core/neovim/init.lua
Due: none

refactor(users/bemeurer/core/tmux): rely on theme from stylix
  users/bemeurer/core/tmux.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/stylix): 095ab80a -> f7ab221e
  flake.lock
Due: none

chore(flake/stylix): f7ab221e -> a9367cea
  flake.lock
Due: none

chore(flake/home-manager): 0e4c33d7 -> 514c0a71
  flake.lock
Due: none

feat(users/bemeurer/graphical/sway): try out libliftoff and vulkan
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 514c0a71 -> 6abb775e
  flake.lock
Due: none

chore(flake/home-manager): 6abb775e -> ae6d5466
  flake.lock
Due: none

chore(flake/home-manager): ae6d5466 -> f3824311
  flake.lock
Due: none

feat(hosts/spinoza): enable secureboot
  core/nixos.nix
  flake.lock
  flake.nix
  hosts/spinoza/default.nix
  hosts/spinoza/state.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware): modularize secureboot
  hardware/secureboot.nix
  hosts/spinoza/default.nix
  hosts/spinoza/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/deploy-rs): c2ea4e64 -> 6b0b6a1c
  flake.lock
Due: none

chore(flake/nixpkgs): 1a411f23 -> 0d8145a5
  flake.lock
Due: none

chore(flake/nixos-hardware): 7dc46304 -> 51559e69
  flake.lock
Due: none

chore(flake/home-manager): f3824311 -> 38271ead
  flake.lock
Due: none

chore(flake/nixpkgs): 0d8145a5 -> 3e313808
  flake.lock
Due: none

chore(flake/lanzaboote): adc01887 -> ae49611b
  flake.lock
Due: none

refactor(nix/overlays): get rid of discord-new-electron
  nix/overlays/discord-new-electron.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 38271ead -> 669669fc
  flake.lock
Due: none

feat(hosts/riemann): init
  hardware/nixos-aarch64-builder/key.age
  hosts/aurelius/password.age
  hosts/bohr/password.age
  hosts/fourier/password.age
  hosts/jung/password.age
  hosts/nozick/ddns.age
  hosts/nozick/nextcloud.age
  hosts/nozick/password.age
  hosts/riemann/btt-octopus-max-ez.config
  hosts/riemann/btt-sb2240.config
  hosts/riemann/default.nix
  hosts/riemann/password.age
  hosts/spinoza/password.age
  nix/hosts.nix
  secrets.nix
  services/acme.age
  services/oauth2.age
  services/pihole.age
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): pin deploy-rs to a version that works with Nix 2.15
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci
