Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

fix(services/blocky): set mysql db for grafana
  services/blocky.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(services/blocky): remove psql hack
  services/blocky.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/jung): remove DNS services
  hosts/jung/default.nix
  hosts/jung/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(graphical/darwin): remove amethyst
  graphical/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(graphical/darwin): add magnet
  graphical/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/lovesegfault-vim-config): 5c64d3d8 -> 7501d894
  flake.lock
Due: none

chore(flake/rust-overlay): 8d5baa56 -> aa1e8592
  flake.lock
Due: none

refactor(graphical/nixos): disable speechd
  graphical/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical/sway): remove screenocr
  nix/overlays/scripts/default.nix
  nix/overlays/scripts/screenocr.sh
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): remove ledger-live
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(graphical): remove zulip
  graphical/darwin.nix
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): remove prusa-slicer
  users/bemeurer/graphical/default.nix
  users/bemeurer/graphical/mime.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical): remove lollypop
  users/bemeurer/graphical/linux.nix
  users/bemeurer/graphical/mime.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/graphical/mime): remove thunderbird
  users/bemeurer/graphical/mime.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake) update lovesegfault-vim-config
  flake.lock
Due: none

refactor(flake): remove rust-overlay
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/nixpkgs): b6a8526d -> 9da7f1cf
  flake.lock
Due: none

refactor(graphical/darwin): remove jitsi
  graphical/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 37a3d97f -> 747a9a77
  flake.lock
Due: none

chore(flake/treefmt-nix): 97a30861 -> 5b4ee75a
  flake.lock
Due: none

refactor(users/bemeurer/graphical): remove element-desktop
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/hegel): set download-bufer-size
  hosts/hegel/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci(update-flakes): run every 24h
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/lovesegfault-vim-config): 66f5ee1c -> 55a49832
  flake.lock
Due: none

chore(flake/flake-parts): 0bdadb1b -> 52a2caec
  flake.lock
Due: none

chore(flake/home-manager): 747a9a77 -> 827f2a23
  flake.lock
Due: none

refactor(graphical/darwin): remove parallels
  graphical/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/git-hooks): c5c31477 -> 84255025
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 55a49832 -> a65b47c4
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
