Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

flake.lock: Update
  flake.lock
Due: none

flake: make naersk follow nixpkgs
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

users/bemeurer/core/starship: remove use_name from nix_shell
  users/bemeurer/core/starship.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

treewide: use pre-commit-hooks
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  nix/deploy.nix
  nix/outputs.nix
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

nix/shell: move sops-pgp-hook to nativeBuildInputs
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

.github/workflows/ci: use nix flake check
  .github/workflows/ci.yaml
Due: none

hosts/fourier: add github-actions runner
  .sops.yaml
  hosts/fourier/default.nix
  hosts/fourier/github-token.yaml
  nix/overlays/menu/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

.github/workflows/ci: run on self-hosted runner
  .github/workflows/ci.yaml
Due: none

.github/workflows/ci: remove checks step
  .github/workflows/ci.yaml
Due: none

hosts/fourier: remove GH action runner
  hosts/fourier/default.nix
  hosts/fourier/github-token.yaml
Due: nixpkgs-fmt, nix-linter, gen-ci
