Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

fix(hosts/camus): add PCIe driver to initrd
  flake.lock
  hardware/nixos-aarch64-builder/key.age
  hardware/rpi4.nix
  hosts/aurelius/password.age
  hosts/bohr/password.age
  hosts/camus/default.nix
  hosts/camus/password.age
  hosts/deleuze/password.age
  hosts/foucault/password.age
  hosts/fourier/password.age
  hosts/hegel/password.age
  hosts/kant/ddclient.age
  hosts/kant/password.age
  nix/hosts.nix
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/linux-lto): update graysky's patch
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/hosts): allow segmenting by system
  nix/deploy.nix
  nix/home-manager.nix
  nix/hosts.nix
  nix/nixos.nix
  secrets.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/beme-glaptop): remove startAgent
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

style(nix/hosts): collapse filterAttrs
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): add overlays.lite
  .github/workflows/ci.yaml
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(nix/checks): don't explicitly pass shellcheck to actionlint
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): comment lite-overlay
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/ragenix): 2b75c55f -> 6b772909
  flake.lock
Due: none

ci: fix get-hosts
  .github/workflows/ci.yaml
Due: none

refactor(hosts/camus): don't force mainline kernel
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/camus): back to mainline kernel
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: get rid of eval-host
  .github/workflows/ci.yaml
Due: none

chore(flake/nixgl): 17658df1 -> 56f2fbcc
  flake.lock
Due: none

feat(hosts/camus): enable tty over serial
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/camus): boot options galore!
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/camus): route metrics
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/camus): tty on the UART
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer): enable atuin
  hosts/bohr/state.nix
  hosts/foucault/state.nix
  hosts/fourier/state.nix
  hosts/hegel/state.nix
  users/bemeurer/core/atuin.nix
  users/bemeurer/core/default.nix
  users/bemeurer/core/zsh.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 778af87a -> f8b51be7
  flake.lock
Due: none

feat(hosts/nozick): init
  hardware/nixos-aarch64-builder/key.age
  hosts/aurelius/password.age
  hosts/bohr/password.age
  hosts/camus/password.age
  hosts/deleuze/password.age
  hosts/foucault/password.age
  hosts/fourier/password.age
  hosts/hegel/password.age
  hosts/kant/ddclient.age
  hosts/kant/password.age
  hosts/nozick/acme.age
  hosts/nozick/ddns.age
  hosts/nozick/ddns.nix
  hosts/nozick/default.nix
  hosts/nozick/nginx.nix
  hosts/nozick/password.age
  hosts/nozick/prometheus.nix
  hosts/nozick/state.nix
  nix/hosts.nix
  secrets.nix
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/nozick): use unbound and chronyd
  core/default.nix
  hosts/nozick/default.nix
  hosts/nozick/prometheus.nix
  hosts/nozick/state.nix
  hosts/nozick/unbound.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/nozick): add media group
  hosts/nozick/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/nozick/unbound): 8 cores
  hosts/nozick/unbound.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(core): always include rsync
  core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/nozick): open port for deluge
  hosts/nozick/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): f8b51be7 -> df601055
  flake.lock
Due: none

chore(flake/ragenix): 6b772909 -> 36964905
  flake.lock
Due: none

chore(flake/home-manager): df601055 -> 26858fc0
  flake.lock
Due: none

refactor(hosts/nozick): force lego to resolve with 1.1.1.1
  hosts/nozick/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/nozick/nginx): add stash proxying
  hosts/nozick/nginx.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(secrets): use simpler allHostSecret
  .gitattributes
  secrets.nix
  users/bemeurer/core/git.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore: rekey
  hardware/nixos-aarch64-builder/key.age
  hosts/aurelius/password.age
  hosts/bohr/password.age
  hosts/camus/password.age
  hosts/deleuze/password.age
  hosts/foucault/password.age
  hosts/fourier/password.age
  hosts/hegel/password.age
  hosts/kant/ddclient.age
  hosts/kant/password.age
  hosts/nozick/acme.age
  hosts/nozick/ddns.age
  hosts/nozick/password.age
  users/bemeurer/password.age
Due: none
