Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake/lovesegfault-vim-config): 31c548ce -> 1f51633b
  flake.lock
Due: none

chore(flake/tinted-schemes): 4ac26dc9 -> 1bacf7d9
  flake.lock
Due: none

chore(flake/lanzaboote): 0859944b -> 1a6b487e
  flake.lock
Due: none

chore(flake/darwin): 973db963 -> 3bda9f6b
  flake.lock
Due: none

chore(flake/stylix): 647bb8dd -> 3013f98e
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 1f51633b -> af600076
  flake.lock
Due: none

chore(flake/lanzaboote): 1a6b487e -> b2f78175
  flake.lock
Due: none

chore(flake/nixpkgs): 9da7f1cf -> 89c2b233
  flake.lock
Due: none

chore(core/nixos): extraSystemBuilderCmds -> systemBuilderCommands
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): fix duplicate inputs
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/disko): af087d07 -> e86a8907
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): af600076 -> 7dce856d
  flake.lock
Due: none

chore(flake/stylix): 3013f98e -> c482552a
  flake.lock
Due: none

chore(nix/overlays/nom-latest): update
  nix/overlays/nom-latest.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts): add comte
  hosts/comte/default.nix
  hosts/comte/password.age
  hosts/hegel/password.age
  hosts/jung/password.age
  hosts/plato/password.age
  hosts/spinoza/password.age
  nix/hosts.nix
  services/acme.age
  services/github-runner.age
  services/oauth2.age
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/comte): new ec2 host
  hosts/comte/default.nix
  hosts/comte/password.age
  hosts/hegel/password.age
  hosts/jung/password.age
  hosts/plato/password.age
  hosts/spinoza/password.age
  nix/hosts.nix
  services/acme.age
  services/github-runner.age
  services/oauth2.age
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/comte): don't match on nic MAC
  hosts/comte/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/comte): go back to matching on MAC
  hosts/comte/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(core/nixos): enable polkit
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(core/nixos): move to sudo-rs
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer/core/git): add git worktree aliases
  users/bemeurer/core/git.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/comte): enable trusted for bemeurer
  hosts/comte/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): update lovesegfault-vim-config
  flake.lock
Due: none

refactor(nix/overlays): replace input injection with fetchers
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/overlays/scripts/default.nix
  nix/overlays/truecolor-check.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/neovim): inline nixvim config
  .github/workflows/ci.yaml
  core/default.nix
  flake.lock
  flake.nix
  nix/darwin.nix
  nix/home-manager.nix
  nix/nixos.nix
  nix/overlay.nix
  nix/packages.nix
  users/bemeurer/core/default.nix
  users/bemeurer/core/neovim.nix
  users/bemeurer/neovim/completion.nix
  users/bemeurer/neovim/config.nix
  users/bemeurer/neovim/core.nix
  users/bemeurer/neovim/default.nix
  users/bemeurer/neovim/lsp.nix
  users/bemeurer/neovim/lualine.nix
  users/bemeurer/neovim/telescope.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): update inputs
  flake.lock
Due: none

docs: update README for nixos-unified structure
  README.md
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
