Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

refactor(ci): inline env vars via Nix string interpolation
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): evaluate local flake checkout, remove setup job
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix): remove unused nixPath and nixpkgs symlinks
  modules/darwin/core.nix
  modules/nixos/core.nix
  modules/shared/nix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(overlays/uboot-cm4): remove
  overlays/uboot-cm4/0001-rpi-add-NVMe-to-boot-order.patch
  overlays/uboot-cm4/0002-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  overlays/uboot-cm4/0003-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  overlays/uboot-cm4/0004-drivers-bcm283x-don-t-explicitly-disable-init.patch
  overlays/uboot-cm4/0005-drivers-bcm283x-allow-to-spawn-any-PL011-UART.patch
  overlays/uboot-cm4/0006-nvme-improve-readability-of-nvme_setup_prps.patch
  overlays/uboot-cm4/0007-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  overlays/uboot-cm4/0008-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  overlays/uboot-cm4/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: improve nixos-unified integration and code quality
  README.md
  configurations/darwin/poincare/default.nix
  configurations/home/goethe/default.nix
  configurations/home/hilbert/default.nix
  configurations/home/popper/default.nix
  configurations/nixos/comte/default.nix
  configurations/nixos/hegel/default.nix
  configurations/nixos/jung/default.nix
  configurations/nixos/plato/default.nix
  configurations/nixos/spinoza/default.nix
  modules/darwin/default.nix
  modules/flake-parts/configurations.nix
  modules/flake-parts/default.nix
  modules/flake-parts/modules.nix
  modules/flake-parts/packages.nix
  modules/home/custom/uid.nix
  modules/home/default.nix
  modules/home/standalone.nix
  modules/nixos/default.nix
  modules/nixos/services/blocky.nix
  modules/nixos/services/oauth2.nix
  modules/nixos/users/bemeurer.nix
  modules/shared/default.nix
  modules/shared/theme.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(home): apply overlays and config to standalone home-manager
  modules/flake-parts/configurations.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): migrate to actions.nix
  .github/workflows/ci.yaml
  .github/workflows/get-attrs.py
  flake.lock
  flake.nix
  modules/flake-parts/actions.nix
  modules/flake-parts/ci-metadata.nix
  modules/flake-parts/default.nix
  modules/flake-parts/pre-commit.nix
  modules/flake-parts/treefmt.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(configurations/nixos/comte): enable podman
  configurations/nixos/comte/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): update-flake-lock v3->v28
  .github/workflows/update-flakes.yaml
Due: none

refactor(ci): set commit-msg for update-flakes
  .github/workflows/update-flakes.yaml
Due: none

chore(flake): update inputs
  flake.lock
Due: none

fix(configurations/nixos/hegel): pin to kernel 6.17
  configurations/nixos/hegel/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): use our nixpkgs for nixpkgs-lib
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(ci): simplify job names in workflow
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): remove unused darwinConfigs alias
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): remove unused arch field from platforms
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): inline allHosts into checkPlatforms
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(ci): add concurrency control to workflow
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(ci): add workflow_dispatch for manual triggering
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): extract nix-fast-build step to helper function
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

docs(ci): add comment explaining minimal permissions
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): misc improvements
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(home): replace custom home.uid with upstream
  flake.lock
  modules/home/custom/default.nix
  modules/home/custom/uid.nix
  modules/home/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: add deadnix pre-commit hook
  configurations/darwin/poincare/default.nix
  configurations/home/goethe/default.nix
  configurations/home/hilbert/default.nix
  configurations/home/popper/default.nix
  configurations/nixos/spinoza/default.nix
  modules/flake-parts/dev-shell.nix
  modules/flake-parts/modules.nix
  modules/flake-parts/overlays.nix
  modules/flake-parts/packages.nix
  modules/flake-parts/pre-commit.nix
  modules/flake-parts/treefmt.nix
  modules/home/graphical/default.nix
  modules/home/neovim/lualine.nix
  modules/home/standalone.nix
  modules/nixos/hardware/sound.nix
  modules/nixos/pam-limits.nix
  modules/nixos/services/prometheus.nix
  overlays/nom-latest.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(envrc): update watch_files
  .envrc
Due: none

refactor(dev-shell): add pre-commit packages
  modules/flake-parts/dev-shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(envrc): move watch_file above use flake
  .envrc
Due: none

feat(ci): add pre-commit hooks and harden GitHub Actions
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
  modules/flake-parts/actions.nix
  modules/flake-parts/pre-commit.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): replace Dependabot with Renovate for GitHub Actions
  .github/dependabot.yaml
  .github/workflows/regenerate-workflows.yaml
  .github/workflows/update-flakes.yaml
  .github/zizmor.yml
  modules/flake-parts/actions.nix
  renovate.json
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(renovate): restrict regex to match only GitHub action refs
  renovate.json
Due: none

fix(actions): use semver tag for alls-green instead of branch name
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(renovate): add pinDigests to resolve commit SHAs for updates
  renovate.json
Due: none

fix(renovate): remove unsupported custom capture group from template
  renovate.json
Due: none

feat(ci): add nix cache to regenerate-workflows action
  .github/workflows/regenerate-workflows.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(renovate): use nix manager for flake.lock updates
  .github/workflows/update-flakes.yaml
  modules/flake-parts/actions.nix
  renovate.json
Due: nixpkgs-fmt, nix-linter, gen-ci
