Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

feat(hosts/nozick): use proxied auth with grafana
  hosts/nozick/default.nix
  hosts/nozick/grafana.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/nozick): allow oauth2 subdomain redirects
  hosts/nozick/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): use nixos-unstable-small to avoid hydra being stuck
  flake.lock
Due: none

chore(flake/nixpkgs): cc6ef949 -> 2da64a81
  flake.lock
Due: none

refactor(hosts/jung/roon): open port 55000
  hosts/jung/roon.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): update inputs
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(flake): move back to nixos-unstable
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/home-manager): b92826d0 -> 9f7fe353
  flake.lock
Due: none

chore(flake/nixpkgs): 74a1793c -> c97e777f
  flake.lock
Due: none

feat(nix/overlays): expose localOverlays individually as well
  flake.nix
  nix/overlay.nix
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(graphical): move to scene-graph-based sway
  hosts/spinoza/sway.nix
  nix/overlays/sway-scene-graph.nix
  users/bemeurer/graphical/sway/waybar.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/graphical/sway/waybar): don't set thermal-zone
  hosts/spinoza/sway.nix
  users/bemeurer/graphical/sway/waybar.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(nix/overlays): add overlay for using discord with a new/system electron
  nix/overlays/discord-new-electron.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts/jung): enable amd pstate
  hosts/jung/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(nix/darwin): add p and pkgs to flake registry as nixpkgs alias
  nix/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(nix/home-manager): add p and pkgs to flake registry as nixpkgs alias
  nix/home-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/pre-commit-hooks): 8cb8ea5f -> 60cad1a3
  flake.lock
Due: none

chore(flake/home-manager): 9f7fe353 -> 60c6bfe3
  flake.lock
Due: none

chore(flake/nixos-hardware): 1fec8fda -> 93580fca
  flake.lock
Due: none

chore(flake/nixpkgs): c97e777f -> 5f326e2a
  flake.lock
Due: none

feat(hardware/thinkpad-z13): use schedutil
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts/jung): use schedutil
  hosts/jung/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/spinoza/sway): fidget with font sizing a bit
  hosts/spinoza/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/thinkpad-z13): use the ondemand scaling governor
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/thinkpad-z13): use the conservative governor on bat
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hardware/thinkpad-z13): add battery and ac targets
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 60c6bfe3 -> 5408e279
  flake.lock
Due: none

chore(flake/nixos-hardware): 93580fca -> a0df6cd6
  flake.lock
Due: none

feat(hardware/thinkpad-z13): mem_sleep_default=deep
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/jung): use ondemand instead of schedutil
  hosts/jung/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 5f326e2a -> 9608ace7
  flake.lock
Due: none
