Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/home-manager): 5589b28e -> 948d1f8a
  flake.lock
Due: none

chore(flake/deploy-rs): be408237 -> 2a3c5f70
  flake.lock
Due: none

refactor(hosts/spinoza): replace localtimed with automatic-timezoned
  hosts/spinoza/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/spinoza): move to larger ssd
  hardware/thinkpad-z13.nix
  hosts/spinoza/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix: downgrade lollypop to 1.4.35
  nix/overlays/lollypop-fix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/spinoza): set resumeDevice
  hosts/spinoza/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/pre-commit-hooks): ebcbfe09 -> 364568e6
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 364568e6 -> f66b4ab9
  flake.lock
Due: none

chore(flake/home-manager): 948d1f8a -> c0f9cbcf
  flake.lock
Due: none

chore(flake/pre-commit-hooks): f66b4ab9 -> 0c9555d4
  flake.lock
Due: none

chore(flake/nixos-hardware): e0452b33 -> 1108c1b8
  flake.lock
Due: none

chore(flake/nixpkgs): 52b2ac8a -> 690ffff0
  flake.lock
Due: none

refactor(nix/overlays/sway-scene-graph): update
  nix/overlays/sway-scene-graph.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hardware/thinkpad-z13): hibernation fixes
  hardware/thinkpad-z13.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/pre-commit-hooks): 0c9555d4 -> 46fb5634
  flake.lock
Due: none

refactor(hosts/poincare): set greedy for all casks
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): c0f9cbcf -> 433e8de3
  flake.lock
Due: none

chore(flake/nixpkgs): 690ffff0 -> af50806f
  flake.lock
Due: none

chore(flake/home-manager): 433e8de3 -> 3ce1c478
  flake.lock
Due: none

chore(flake/home-manager): 3ce1c478 -> f7641a3f
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 46fb5634 -> accaf454
  flake.lock
Due: none

chore(flake/pre-commit-hooks): accaf454 -> 0ee9516a
  flake.lock
Due: none

refactor(hosts/poincare): remove thunderbird
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): make pre-commit-hooks' flake-compat follow ours
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

fix(hosts/spinoza/state): add Mullvad VPN
  hosts/spinoza/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer/graphical): add chromium
  hosts/spinoza/state.nix
  users/bemeurer/graphical/chromium.nix
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci
