Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

refactor(users/bemeurer/core/neovim): remove ts grammar filtering
  users/bemeurer/core/neovim/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): use new indent-blankline 3
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/init.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/flake-compat): 4f910c98 -> 0f9255e0
  flake.lock
Due: none

feat: add nix-fast-build
  .github/workflows/ci.yaml
  flake.lock
  flake.nix
  nix/dev-shell.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: move to nix-fast-build
  .github/workflows/ci.yaml
  nix/dev-shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: use sparse checkouts for builds
  .github/workflows/ci.yaml
Due: none

ci: disable nom output
  .github/workflows/ci.yaml
Due: none

ci: remove custom Nix build
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: none

ci: use nix-fast-build remote mechanism
  .github/actions/setup-aarch64-ssh/action.yaml
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: none

ci: pass accept-flake-config when remoting
  .github/workflows/ci.yaml
Due: none

ci: inline setup-nix
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

ci: inline setup-aarch64-ssh
  .github/actions/setup-aarch64-ssh/action.yaml
  .github/workflows/ci.yaml
Due: none

ci: set max-jobs to auto in nix.conf
  .github/workflows/ci.yaml
Due: none

ci: avoid needless double-quotes in Bash
  .github/workflows/ci.yaml
Due: none

refactor(core/nix): remove nix-always-allow-substitutes fork
  core/nix.nix
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/checks): incorporate parsing check
  .github/workflows/ci.yaml
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/checks): remove deploy checks
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): request recursive-nix
  flake.nix
Due: nixpkgs-fmt, gen-ci

ci: enable recursive-nix
  .github/workflows/ci.yaml
Due: none

fix(nix/checks): use --readonly-mode when parsing
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/checks): use dummy store for parse check
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): remove recursive-nix
  .github/workflows/ci.yaml
  flake.nix
Due: nixpkgs-fmt, gen-ci

ci: use nix-installer 0.13.1
  .github/workflows/ci.yaml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
