Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

fix: restore host configurations in packages for CI builds
  modules/flake-parts/packages.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: improve nixos-unified integration and code quality
  README.md
  configurations/darwin/poincare/default.nix
  configurations/home/goethe/default.nix
  configurations/home/hilbert/default.nix
  configurations/home/popper/default.nix
  configurations/nixos/comte/default.nix
  configurations/nixos/hegel/default.nix
  configurations/nixos/jung/default.nix
  configurations/nixos/plato/default.nix
  configurations/nixos/spinoza/default.nix
  modules/darwin/default.nix
  modules/flake-parts/configurations.nix
  modules/flake-parts/default.nix
  modules/flake-parts/modules.nix
  modules/flake-parts/packages.nix
  modules/home/custom/uid.nix
  modules/home/default.nix
  modules/home/standalone.nix
  modules/nixos/default.nix
  modules/nixos/services/blocky.nix
  modules/nixos/services/oauth2.nix
  modules/nixos/users/bemeurer.nix
  modules/shared/default.nix
  modules/shared/theme.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: consolidate repeated configuration patterns
  .github/workflows/get-attrs.py
  configurations/darwin/poincare/default.nix
  configurations/home/goethe/default.nix
  configurations/home/hilbert/default.nix
  configurations/home/popper/default.nix
  configurations/nixos/comte/default.nix
  configurations/nixos/hegel/default.nix
  configurations/nixos/jung/default.nix
  configurations/nixos/plato/default.nix
  configurations/nixos/spinoza/default.nix
  modules/darwin/default.nix
  modules/flake-parts/ci-metadata.nix
  modules/flake-parts/default.nix
  modules/home/default.nix
  modules/home/standalone.nix
  modules/nixos/default.nix
  modules/shared/default.nix
  modules/shared/nixpkgs.nix
  modules/shared/registry.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: consolidate module structure and reduce duplication
  modules/darwin/core.nix
  modules/darwin/default.nix
  modules/darwin/nix.nix
  modules/flake-parts/default.nix
  modules/flake-parts/modules.nix
  modules/home/custom/default.nix
  modules/home/default.nix
  modules/home/graphical-linux/i3/default.nix
  modules/home/graphical-linux/linux.nix
  modules/home/graphical-linux/sway/default.nix
  modules/home/standalone.nix
  modules/home/trusted/default.nix
  modules/nixos/core.nix
  modules/nixos/default.nix
  modules/nixos/hardware/thinkpad-z13.nix
  modules/nixos/nix.nix
  modules/nixos/services/blocky.nix
  modules/shared/common.nix
  modules/shared/default.nix
  modules/shared/nix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(overlays/uboot-cm4): remove
  overlays/uboot-cm4/0001-rpi-add-NVMe-to-boot-order.patch
  overlays/uboot-cm4/0002-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  overlays/uboot-cm4/0003-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  overlays/uboot-cm4/0004-drivers-bcm283x-don-t-explicitly-disable-init.patch
  overlays/uboot-cm4/0005-drivers-bcm283x-allow-to-spawn-any-PL011-UART.patch
  overlays/uboot-cm4/0006-nvme-improve-readability-of-nvme_setup_prps.patch
  overlays/uboot-cm4/0007-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  overlays/uboot-cm4/0008-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  overlays/uboot-cm4/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(home): merge graphical-linux into graphical directory
  modules/home/graphical/chromium.nix
  modules/home/graphical/firefox.nix
  modules/home/graphical/i3/default.nix
  modules/home/graphical/i3/dunst.nix
  modules/home/graphical/i3/i3.nix
  modules/home/graphical/i3/polybar.nix
  modules/home/graphical/i3/rofi.nix
  modules/home/graphical/i3/screen-locker.nix
  modules/home/graphical/linux.nix
  modules/home/graphical/mime.nix
  modules/home/graphical/mpv.nix
  modules/home/graphical/sway/default.nix
  modules/home/graphical/sway/foot.nix
  modules/home/graphical/sway/mako.nix
  modules/home/graphical/sway/sway.nix
  modules/home/graphical/sway/waybar.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(home): remove duplicate music/default.nix
  modules/home/music/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(home): correct uid.nix assertion type mismatch
  modules/home/custom/uid.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(home): add graphical entry point module
  modules/home/graphical/darwin.nix
  modules/home/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: use mkDefault for system stateVersion
  modules/darwin/core.nix
  modules/nixos/core.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nixos): extract PAM login limits to shared module
  configurations/nixos/comte/default.nix
  configurations/nixos/hegel/default.nix
  configurations/nixos/jung/default.nix
  configurations/nixos/spinoza/default.nix
  modules/nixos/pam-limits.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): remove flake-utils
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(modules/home/graphical/darwin): rm
  modules/home/graphical/darwin.nix
  modules/home/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(modules/nixos/hardware/gce): rm
  modules/nixos/hardware/gce.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(ci): use full checkout for get-attrs job
  .github/actionlint.yaml
  .github/workflows/ci.yaml
Due: none

ci: cache ~/.cache/nix across builds
  .github/workflows/ci.yaml
Due: none

refactor(ci): migrate to actions.nix
  .github/workflows/ci.yaml
  .github/workflows/get-attrs.py
  flake.lock
  flake.nix
  modules/flake-parts/actions.nix
  modules/flake-parts/ci-metadata.nix
  modules/flake-parts/default.nix
  modules/flake-parts/pre-commit.nix
  modules/flake-parts/treefmt.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(home): apply overlays and config to standalone home-manager
  modules/flake-parts/configurations.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): evaluate local flake checkout, remove setup job
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(ci): derive flake-check platforms from hosts
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): inline env vars via Nix string interpolation
  .github/workflows/ci.yaml
  modules/flake-parts/actions.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix): remove unused nixPath and nixpkgs symlinks
  modules/darwin/core.nix
  modules/nixos/core.nix
  modules/shared/nix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(ci): migrate to DeterminateSystems/update-flake-lock
  .github/workflows/update-flakes.yaml
Due: none

docs: update README for nixos-unified structure
  README.md
Due: none
