Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

ci: disallow IFD
  .github/workflows/ci.yaml
Due: none

fix(flake): temporarily switch to stylix fork to avoid IFD
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

fix(nix/deploy): remove recurseIntoAttrs
  nix/deploy.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/nixos): remove recurseIntoAttrs
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/darwin): remove recurseIntoAttrs
  nix/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/home-manager): remove recurseIntoAttrs
  nix/home-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: run full nix flake check
  .github/workflows/ci.yaml
Due: none

chore(flake/pre-commit-hooks): 8edf336c -> 42e1b609
  flake.lock
Due: none

refactor(nix): localSystem -> hostPlatform
  nix/dev-shell.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): use lsp-progress in statusbar instead of notify
  nix/overlays/vim-plugins.nix
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lsp.lua
  users/bemeurer/core/neovim/lua/status.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

feat: add nix-output-monitor
  nix/dev-shell.nix
  users/bemeurer/dev/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 3c1d8758 -> 6dfbdc97
  flake.lock
Due: none

chore(flake/home-manager): 6dfbdc97 -> 6bba6478
  flake.lock
Due: none

chore(flake/nixos-hardware): bb2db418 -> 6ea13c2d
  flake.lock
Due: none

refactor(flake): move back to upstream stylix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/nixos-hardware): 6ea13c2d -> c2bbfcfc
  flake.lock
Due: none

chore(flake/nixpkgs): 87828a0e -> f99e5f03
  flake.lock
Due: none

chore(flake/nixos-hardware): c2bbfcfc -> d6b554a8
  flake.lock
Due: none

refactor(users/bemeurer/core/neovim): remove rainbow delimiters, sadly
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/init.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): move to coq_nvim
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/init.lua
  users/bemeurer/core/neovim/lua/completion.lua
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): add nvim-highlight-colors
  users/bemeurer/core/neovim/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

Revert "refactor(users/bemeurer/core/neovim): move to coq_nvim"
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/init.lua
  users/bemeurer/core/neovim/lua/completion.lua
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): add more cmp sources
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/completion.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): use lsp_signature-nvim
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/completion.lua
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): remove rust-tools
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/core/neovim): add inlay hints
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/core/neovim): correctly configure capabilities
  users/bemeurer/core/neovim/lua/lsp.lua
Due: none

Revert "refactor(users/bemeurer/core/neovim): add inlay hints"
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci
