Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

ci: fix build-host attr path
  .github/workflows/ci.yaml
Due: none

fix(nix/overlays/darwin-fixes): don't break non-darwin
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/luther): add rde to fpath
  hosts/luther/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/luther): compinit -> CompInit
  hosts/luther/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/darwin-fixes): only apply on darwin
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/luther): move to multi-user nix
  hosts/luther/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/derrida): move to multi-user nix
  hosts/derrida/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(nix/overlays/linux-lto): use llvm 14
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): ce563f59 -> e622bad1
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 521a5247 -> b7a131d0
  flake.lock
Due: none

chore(flake/nixpkgs): f0db300c -> e5bb9775
  flake.lock
Due: none

chore(flake/pre-commit-hooks): b7a131d0 -> a2ce896c
  flake.lock
Due: none

feat(nix/overlays/darwin-fixes): mask commitizen
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(flake): add aarch64-darwin
  flake.nix
Due: nixpkgs-fmt, gen-ci

feat(nix/overlays/darwin-fixes): don't replace python39 with 310
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(hosts/poincare): add m1 mac
  hosts/poincare/default.nix
  nix/hosts.nix
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: deduplicate build-host
  .github/workflows/ci.yaml
Due: none

ci: fix jq calls
  .github/workflows/ci.yaml
Due: none

ci: only setup aarch64-builder on Linux systems
  .github/workflows/ci.yaml
Due: none

chore(flake/pre-commit-hooks): a2ce896c -> db3bd555
  flake.lock
Due: none

chore(flake/home-manager): e622bad1 -> e0baf8ee
  flake.lock
Due: none

chore(flake/nixpkgs): e5bb9775 -> 2417363a
  flake.lock
Due: none

feat(nix/overlays/linux-lto): 5.17 -> 5.18
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): e0baf8ee -> 1dbac84b
  flake.lock
Due: none

chore(flake/nixpkgs): 2417363a -> 60801d44
  flake.lock
Due: none

fix: new homeConfigurations format
  core/default.nix
  nix/home-manager.nix
  nix/hosts.nix
  nix/state-version.nix
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/darwin-fixes): fix cachix
  nix/overlays/darwin-fixes.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore: relock
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/nixos-hardware): f9d8dff4 -> 99e33a57
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
