Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/home-manager): 9d369c75 -> 1fa809f7
  flake.lock
Due: none

chore(flake/home-manager): 1fa809f7 -> 11c0e5d1
  flake.lock
Due: none

chore(flake/home-manager): 11c0e5d1 -> 63dccc4e
  flake.lock
Due: none

chore(flake/nixpkgs): 180be3e2 -> 07a283bb
  flake.lock
Due: none

refactor(nix/overlays/nix_2_6): upstreamed
  nix/overlays/nix_2_6.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 07a283bb -> 5c9b6ab9
  flake.lock
Due: none

fix(hosts/beme-glaptop): use debian gnome-auth-agent
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

docs: add note on deploying to home-manager systems
  README.md
Due: none

refactor(flake): use the upstream nixgl flake
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/impermanence): 42394012 -> ff540dbe
  flake.lock
Due: none

refactor(hosts/foucault): set hideMounts
  hosts/foucault/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/ragenix): dace1227 -> aaebda44
  flake.lock
Due: none

refactor(users/bemeurer/graphical): remove spotify
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/utils): 846b2ae0 -> 3cecb5b0
  flake.lock
Due: none

chore(flake/home-manager): 63dccc4e -> 1ca6293c
  flake.lock
Due: none

feat(users/bemeurer/core/neovim): add tabular
  users/bemeurer/core/neovim/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 5c9b6ab9 -> 64cb9c78
  flake.lock
Due: none

chore(flake/nixpkgs): 64cb9c78 -> 8cec3cc2
  flake.lock
Due: none

fix(hosts/beme-glaptop): use lxqt's polkit agent
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/beme-glaptop): add extra qt and icon pkgs
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/sound-pulse): remove
  hardware/sound-pulse.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 1ca6293c -> e2aa1f59
  flake.lock
Due: none

chore(flake/nixpkgs): 8cec3cc2 -> faad1164
  flake.lock
Due: none

chore(flake/nixpkgs): faad1164 -> 91094c90
  flake.lock
Due: none
