Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

ci(update-flakes): matrix -> flake-inputs
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/nix-fast-build): 9ebfd443 -> 79908fc2
  flake.lock
Due: none

ci(update-flakes): parse flake.lock directly
  .github/workflows/update-flakes.yaml
Due: none

ci(update-flakes): accept flake config
  .github/workflows/update-flakes.yaml
Due: none

ci: enable M1 runner for aarch64-darwin drvs
  .github/workflows/ci.yaml
Due: none

ci: don't auto-optimise-store
  .github/workflows/ci.yaml
Due: none

feat(hosts/{derrida,luther}): add nix-fast-build
  hosts/derrida/default.nix
  hosts/luther/default.nix
  nix/overlay.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: disable M1 runner for aarch64-darwin drvs
  .github/workflows/ci.yaml
Due: none

chore(flake/nixos-hardware): f4ef5df9 -> bb2db418
  flake.lock
Due: none

chore(flake/nixpkgs): fdd898f8 -> 81e8f48e
  flake.lock
Due: none

refactor(hosts/poincare): replace docker with podman
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 68f7d8c0 -> 44635279
  flake.lock
Due: none

chore(flake/home-manager): 44635279 -> ed0770e9
  flake.lock
Due: none

chore(flake/home-manager): ed0770e9 -> b2a2133c
  flake.lock
Due: none

ci: introduce eval-only attrs
  .github/workflows/ci.yaml
  nix/dev-shell.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): avoid IFD with stylix fork
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

ci: don't allow IFD in flake
  .github/workflows/ci.yaml
Due: none

chore(flake/nixpkgs): 81e8f48e -> 87828a0e
  flake.lock
Due: none

chore(flake/nix-index-database): 031d4b22 -> 8cb486fb
  flake.lock
Due: none

chore(flake/nix-index-database): 8cb486fb -> 2902dc66
  flake.lock
Due: none

chore(flake/home-manager): b2a2133c -> 3c1d8758
  flake.lock
Due: none

chore(flake/agenix): 1f677b3e -> e2f33927
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 66c352d3 -> 8edf336c
  flake.lock
Due: none

feat(users/bemeurer/dev): unify work settings
  hosts/derrida/default.nix
  hosts/luther/default.nix
  hosts/poincare/default.nix
  users/bemeurer/dev/aws.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/agenix): e2f33927 -> daf42cb3
  flake.lock
Due: none

fix(users/bemeurer): disable stylix xresources to avoid IFD
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): temporarily switch to stylix fork to avoid IFD
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
