Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

refactor(flake): explicitly allow alises
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(hardware/rpi4): don't use linuxPackages_rpi4 alias
  hardware/rpi4.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(graphical/fonts): don't use noto-fonts alias
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/nix_2_6): don't use nix_2_6 alias
  nix/overlays/nix_2_6.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hardware/nixos-aarch64-builder): re-enable buildMachines cfg
  hardware/nixos-aarch64-builder/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/ragenix): c6034bae -> 1d9b407b
  flake.lock
Due: none

chore(flake/ragenix): 1d9b407b -> dace1227
  flake.lock
Due: none

chore(flake/nixpkgs): 709f7b3c -> 180be3e2
  flake.lock
Due: none

chore(flake/nixgl): b29530a5 -> 6a00a8c7
  flake.lock
Due: none

fix(nix/overlays/pam-fix): add workaround for PAM breaking swaylock
  nix/overlays/pam-fix.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixgl): b29530a5 -> 6a00a8c7
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/impermanence): ff2240b0 -> 05cc388c
  flake.lock
Due: none

refactor(hosts): use new impermanence user dir support
  hosts/bohr/state.nix
  hosts/foucault/state.nix
  hosts/fourier/state.nix
  hosts/hegel/state.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/home-manager-flake): use upstream nix.registry cfg
  nix/home-manager-flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(nix/home-manager-flake): add overlays to NIX_PATH
  nix/home-manager-flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(graphical/sway): set NIXOS_OZONE_WL to make electron apps wayland-native
  graphical/sway.nix
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

revert: "refactor(graphical/sway): set NIXOS_OZONE_WL to make electron apps wayland-native"
  graphical/sway.nix
  users/bemeurer/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/dev): re-enable git cz alias
  users/bemeurer/dev/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/templates): f6d05e35 -> 3eff6e7c
  flake.lock
Due: none

fix(hosts/beme-glaptop): make sure home-manager's profile gets added to fpath
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 95d39e13 -> a52aed72
  flake.lock
Due: none

style(nix/overlays/linux-lto): remove redundant parens
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/impermanence): 05cc388c -> 65caf299
  flake.lock
Due: none

chore(flake/deploy-rs): 3180b55a -> 4154ba1a
  flake.lock
Due: none

chore(flake/impermanence): 65caf299 -> 42394012
  flake.lock
Due: none

chore(flake/home-manager): a52aed72 -> 184b0154
  flake.lock
Due: none

chore(flake/home-manager): 184b0154 -> 9d369c75
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
