Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

ci: don't use separate step for cachix-push
  .github/workflows/ci.yaml
Due: none

ci: don't manually cachix push
  .github/workflows/ci.yaml
Due: none

ci: don't retry build-host
  .github/workflows/ci.yaml
Due: none

chore(flake/home-manager): f6981648 -> 36999b8d
  flake.lock
Due: none

chore(flake/nixpkgs): a028e287 -> c707238d
  flake.lock
Due: none

refactor(hardware/nixos-aarch64-builder): use ssh-ng
  hardware/nixos-aarch64-builder/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: use ssh-ng for aarch64 builder
  .github/workflows/ci.yaml
Due: none

feat(nix/host-drvs): use forceCached
  nix/host-drvs.nix
  nix/overlays/force-cached.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/nixos-aarch64-builder): use system instead of systems
  hardware/nixos-aarch64-builder/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: only setup aarch64-builder for aarch64 hosts
  .github/workflows/ci.yaml
Due: none

ci: add host pubkey to builder_cfg
  .github/workflows/ci.yaml
Due: none

ci: use setup-nix composite action
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(setup-nix): set shell to bash
  .github/actions/setup-nix/action.yaml
Due: none

ci(setup-nix): pass secrets
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(setup-nix): fix conditionals
  .github/actions/setup-nix/action.yaml
Due: none

refactor(nix/host-drvs): drop force-cached
  nix/host-drvs.nix
  nix/overlays/force-cached.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/host-drvs): force allowSubstitutes for top-level hostDrvs
  nix/host-drvs.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: give build-shell a better name
  .github/workflows/ci.yaml
Due: none

chore(flake/nixpkgs): c707238d -> c90c4025
  flake.lock
Due: none

ci: block check on lints
  .github/workflows/ci.yaml
Due: none

chore(flake/nixos-hardware): f6610997 -> 6e303a50
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 382bee73 -> 1a20b970
  flake.lock
Due: none

refactor(users/bemeurer/core/neovim): use nil instead of rnix
  nix/dev-shell.nix
  users/bemeurer/core/neovim/lua/lsp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): make ragenix's agenix follow our nix-darwin
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

fix(nix/checks): unset types_or for shellcheck so it works for .sh files
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix): pin self to registry
  nix/darwin.nix
  nix/home-manager.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/home-manager): stop adding self to registry
  nix/home-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixos-hardware): 6e303a50 -> 22ef358f
  flake.lock
Due: none

chore(flake/nixos-hardware): 22ef358f -> 556101ff
  flake.lock
Due: none

chore(flake/nixpkgs): c90c4025 -> 1e259067
  flake.lock
Due: none

chore(flake/home-manager): 36999b8d -> 7224d7c5
  flake.lock
Due: none
