Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake): home-manager 89bdef79 -> c2f15125
  flake.lock
Due: none

chore(flake): home-manager 89bdef79 -> c2f15125 (#1048)
  flake.lock
Due: none

chore(flake): home-manager c2f15125 -> 7c0dc519
  flake.lock
Due: none

chore(flake): home-manager c2f15125 -> 7c0dc519 (#1049)
  flake.lock
Due: none

chore(flake): home-manager 7c0dc519 -> adaea605
  flake.lock
Due: none

chore(flake): home-manager 7c0dc519 -> adaea605 (#1050)
  flake.lock
Due: none

chore(flake): ragenix 97d9f72b -> e973e391
  flake.lock
Due: none

chore(flake): ragenix 97d9f72b -> e973e391 (#1051)
  flake.lock
Due: none

chore(flake): home-manager adaea605 -> 5f00024e
  flake.lock
Due: none

chore(flake): home-manager adaea605 -> 5f00024e (#1052)
  flake.lock
Due: none

chore(flake): ragenix e973e391 -> 71147db3
  flake.lock
Due: none

chore(flake): ragenix e973e391 -> 71147db3 (#1053)
  flake.lock
Due: none

chore(flake): home-manager 5f00024e -> 8e7a1060
  flake.lock
Due: none

chore(flake): home-manager 5f00024e -> 8e7a1060 (#1054)
  flake.lock
Due: none

chore(flake): flake-compat 12c64ca5 -> b7547d3e
  flake.lock
Due: none

chore(flake): flake-compat 12c64ca5 -> b7547d3e (#1055)
  flake.lock
Due: none

fix(users/bemeurer/core/neovim): fix breaking changes in feline and treesitter
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lovesegfault/feline.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer/core/neovim): add stabilize-nvim
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/init.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer/core/neovim): add suda-nvim
  users/bemeurer/core/neovim/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(users/bemeurer/core/neovim): add telescope-frecency
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lovesegfault/telescope.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/core/neovim): fix tab-completion
  users/bemeurer/core/neovim/lua/lovesegfault/cmp.lua
Due: none

feat(users/bemeurer/core/neovim): add cmdline and latex completions
  users/bemeurer/core/neovim/default.nix
  users/bemeurer/core/neovim/lua/lovesegfault/cmp.lua
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): nixpkgs d471a92e -> 18c84ea8
  flake.lock
Due: none

fix(flake): correctly resolve input follows
  flake.lock
Due: none

fix(users/bemeurer/graphical): use gammastep instead of redshift-wlr
  flake.lock
  graphical/default.nix
  hosts/aurelius/default.nix
  users/bemeurer/graphical/default.nix
  users/bemeurer/graphical/redshift.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/overlays/fix-nix-flake): add a patch to hotfix nested flake follows
  nix/overlays/fix-nix-flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(users/bemeurer/graphical): only enable alacritty for i3
  users/bemeurer/graphical/default.nix
  users/bemeurer/graphical/i3/alacritty.nix
  users/bemeurer/graphical/i3/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(users/bemeurer/dev): remove commitizen
  nix/mask-large-drvs.nix
  users/bemeurer/dev/default.nix
  users/bemeurer/graphical/sway/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): make sure nested follows are AOK
  flake.lock
Due: none

chore(flake): home-manager 8e7a1060 -> 65e5b835
  flake.lock
Due: none

chore(flake): home-manager 8e7a1060 -> 65e5b835 (#1056)
  flake.lock
Due: none

refactor(ci/update-flakes): try to use cpcloud's actions
  .github/workflows/update-flakes.yaml
Due: none

refactor(ci/update-flakes): simplify get-flakes
  .github/workflows/update-flakes.yaml
Due: none

fix(ci/update-flakes): flake-update-actions -> flake-update-action
  .github/workflows/update-flakes.yaml
Due: none

fix(ci/update-flakes): 1.0.2 -> v1.0.2
  .github/workflows/update-flakes.yaml
Due: none

Revert "chore(flake): home-manager 8e7a1060 -> 65e5b835 (#1056)"
  flake.lock
Due: none

refactor(ci/update-flakes): don't setup cachix (we don't use it here)
  .github/workflows/update-flakes.yaml
Due: none

fix(ci/update-flakes): set pull-request-author
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/home-manager): 8e7a1060 -> 65e5b835
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
