Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

flake.lock: Update
  flake.lock
Due: none

changed: enable magic rollback
  nix/deploy.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: set mako timeout to 30s
  users/bemeurer/sway/mako.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

added: screenocr script
  nix/overlays/screenocr.nix
  users/bemeurer/sway/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: remove nix-linter for now (broken in nixpkgs)
  .pre-commit-config.yaml
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

added: colorcheck script
  nix/overlays/colorcheck.nix
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: don't use tmpOnTmpfs for all EFI systems
  hardware/efi.nix
  hardware/stcg-dc.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: update home-manager url
  flake.nix
Due: nixpkgs-fmt, gen-ci

changed: add lsb-release to shell for pre-commit
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

Revert "changed: add lsb-release to shell for pre-commit"
  nix/shell.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: install lsb_release in lint CI check
  .github/workflows/ci.yaml
Due: none

changed: don't use pre-commit in the lints CI check
  .github/workflows/ci.yaml
Due: none

changed: use firefox-bin
  users/bemeurer/sway/firefox.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: enable usbmuxd on foucault
  hosts/foucault/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: unmap fbcon on foucault for now
  hosts/foucault/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: map fbcon to all gpus
  hosts/foucault/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: remove prusa-slicer overlay
  nix/overlays/prusa-slicer.nix
  nix/overlays/super-slicer.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: remove super-slicer overlay
  nix/overlays/super-slicer.nix
  users/bemeurer/sway/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: re-map fbcon on foucault
  hosts/foucault/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
