Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake/lovesegfault-vim-config): 72d13609 -> 9276a1ba
  flake.lock
Due: none

chore(flake/nix-fast-build): 9ee30c01 -> 1c08694e
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 9276a1ba -> a8663953
  flake.lock
Due: none

chore(flake/home-manager): e0402627 -> 13a83d1b
  flake.lock
Due: none

chore(flake/nixos-hardware): d1bfa8f6 -> cc66fddc
  flake.lock
Due: none

chore(flake/nix-fast-build): 1c08694e -> 1ad948fd
  flake.lock
Due: none

chore(flake/stylix): c32c82e4 -> ea60526c
  flake.lock
Due: none

chore(flake/flake-parts): 77826244 -> 644e0fc4
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): a8663953 -> 6505841f
  flake.lock
Due: none

chore(flake/disko): d5ad4485 -> 545aba02
  flake.lock
Due: none

chore(flake/home-manager): 13a83d1b -> e4bf85da
  flake.lock
Due: none

chore(flake/home-manager): e4bf85da -> 847711c7
  flake.lock
Due: none

chore(flake/home-manager): 847711c7 -> 0cdfcdbb
  flake.lock
Due: none

chore(flake/stylix): ea60526c -> 37673b1d
  flake.lock
Due: none

fix(flake): remove dangling stylix follows
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(graphical/darwin): remove unused apps
  graphical/darwin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/poincare): revive post-aws
  hosts/poincare/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/core): hmModules -> homeModules
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/graphical): use null ghostty on darwin
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(hosts/trotsky): remove
  hosts/trotsky/default.nix
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/stylix): 37673b1d -> fbe1dab7
  flake.lock
Due: none

chore(flake/home-manager): 0cdfcdbb -> 1fde6fb1
  flake.lock
Due: none

chore(hosts/popper): remove
  hosts/popper/default.nix
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(hosts/hilbert): remove
  hosts/hilbert/default.nix
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(users/bemeurer/dev/aws): remove
  users/bemeurer/dev/aws.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
