Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

refactor(nix): split nixosConfiguratiosn out of deploy-rs
  .github/workflows/ci.yaml
  flake.lock
  flake.nix
  nix/build-hosts.nix
  nix/checks.nix
  nix/deploy.nix
  nix/dev-shell.nix
  nix/home-manager.nix
  nix/host-drvs.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/hosts) split into nixosHosts and homeManagerHosts
  .github/workflows/ci.yaml
  nix/deploy.nix
  nix/home-manager.nix
  nix/hosts.nix
  nix/nixos.nix
  secrets.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/rpi4): use nixos-hardware
  hardware/rpi4.nix
  hosts/aurelius/default.nix
  hosts/camus/default.nix
  nix/nixos.nix
  users/bemeurer/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

ci: fix eval
  .github/workflows/ci.yaml
Due: none

feat(flake): add nixos-generators
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(hosts/camus): use rpi4 kernel
  hardware/rpi4.nix
  hosts/camus/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/host-drvs): improve some var names
  nix/host-drvs.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): remove nixos-generators
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(nix/nixos): set system
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hardware/thinkpad-p1): use nixos-hardware
  hardware/intel.nix
  hardware/thinkpad-p1.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/checks): don't use gitignore
  flake.lock
  flake.nix
  nix/checks.nix
  nix/overlay.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 93a69d07 -> 65a32578
  flake.lock
Due: none

chore(flake/nixpkgs): d66d12d4 -> ab83c5d7
  flake.lock
Due: none

refactor(hosts/foucaul/sway): don't pin workspace 1 to eDP-1
  hosts/foucault/sway.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): 65a32578 -> 09f3e679
  flake.lock
Due: none

chore(flake/nixpkgs): ab83c5d7 -> 81699903
  flake.lock
Due: none

chore(flake/nixpkgs): 81699903 -> e76c8952
  flake.lock
Due: none

chore(flake/home-manager): 09f3e679 -> 223a73c2
  flake.lock
Due: none

chore(flake/nixpkgs): e76c8952 -> 7f4a8f37
  flake.lock
Due: none

chore(flake/home-manager): 223a73c2 -> 778af87a
  flake.lock
Due: none

chore(flake/nixpkgs): 7f4a8f37 -> 2975ad11
  flake.lock
Due: none

refactor(graphical/trusted): don't let ssh-agent and gpg-agent clash
  graphical/trusted.nix
  hosts/beme-glaptop/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(hosts/camus): revive
  hardware/nixos-aarch64-builder/key.age
  hosts/aurelius/password.age
  hosts/bohr/password.age
  hosts/camus/default.nix
  hosts/camus/password.age
  hosts/deleuze/password.age
  hosts/foucault/password.age
  hosts/fourier/password.age
  hosts/hegel/password.age
  hosts/kant/ddclient.age
  hosts/kant/password.age
  nix/hosts.nix
  users/bemeurer/password.age
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays): prune stale overlays
  hardware/bluetooth.nix
  nix/overlays/bluez-latest.nix
  nix/overlays/cups-brother-mfcl2750dw/cups-brother-mfcl2750dw.nix
  nix/overlays/cups-brother-mfcl2750dw/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

feat(nix/overlays/uboot-cm4): add patched RPi4 U-Boot
  nix/overlays/uboot-cm4/0001-rpi-add-NVMe-to-boot-order.patch
  nix/overlays/uboot-cm4/0002-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  nix/overlays/uboot-cm4/0003-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  nix/overlays/uboot-cm4/0004-drivers-bcm283x-don-t-explicitly-disable-init.patch
  nix/overlays/uboot-cm4/0005-drivers-bcm283x-allow-to-spawn-any-PL011-UART.patch
  nix/overlays/uboot-cm4/0006-nvme-improve-readability-of-nvme_setup_prps.patch
  nix/overlays/uboot-cm4/0007-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  nix/overlays/uboot-cm4/0008-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  nix/overlays/uboot-cm4/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/overlays/uboot-cm4): final.fetchurl
  nix/overlays/uboot-cm4/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): 2975ad11 -> d6b99603
  flake.lock
Due: none
