Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

ci: try to make Success have no steps
  .github/workflows/ci.yaml
Due: none

revert: "ci: try to make Success have no steps"
  .github/workflows/ci.yaml
Due: none

ci: enable automated PR merging
  .github/workflows/update-flakes.yaml
Due: none

feat(hosts/fourier/pi-hole): update to 2021.09
  hosts/fourier/pi-hole.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/fourier/samba): disable printers
  hosts/fourier/samba.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(nix): update flake inputs
  flake.lock
Due: none

fix(hosts/bohr): revert to stable kernel (ALSA issues)
  hosts/bohr/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(flake): remove naersk
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

refactor(nix/overlays): remove fix-is-macho (upstreamed)
  nix/overlays/fix-is-macho.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays/scripts): init
  nix/overlays/scripts/bimp.nix
  nix/overlays/scripts/checkart.nix
  nix/overlays/scripts/colorcheck.nix
  nix/overlays/scripts/default.nix
  nix/overlays/scripts/drunmenu.nix
  nix/overlays/scripts/emojimenu.nix
  nix/overlays/scripts/fixart.nix
  nix/overlays/scripts/mbk.nix
  nix/overlays/scripts/otpmenu.nix
  nix/overlays/scripts/passmenu.nix
  nix/overlays/scripts/screenocr.nix
  nix/overlays/scripts/screenshot.nix
  nix/overlays/scripts/spawn.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/overlays/linux-lto): disable DEBUG_INFO_BTF
  nix/overlays/linux-lto.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

revert: "chore(nix): update flake inputs"
  flake.lock
Due: none

ci: make aggregate build check enforce matrix status
  .github/workflows/ci.yaml
Due: none

style: bring ci job naming in line with lowercase style
  .github/workflows/ci.yaml
Due: none

fix(readme): new ci badge url
  README.md
Due: none

refactor(readme): add link to ci badge
  README.md
Due: none

style: bring update-flakes up to lowercase standard
  .github/workflows/update-flakes.yaml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
