Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/nixos-hardware): 46f9982c -> 2379bc40
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): aa817904 -> 040dee74
  flake.lock
Due: none

chore(flake/home-manager): b8082c68 -> 124b99db
  flake.lock
Due: none

chore(flake/nixos-hardware): 2379bc40 -> e07b1618
  flake.lock
Due: none

chore(flake/nixos-hardware): e07b1618 -> 43ffe9ac
  flake.lock
Due: none

chore(flake/home-manager): 124b99db -> c6d4cb31
  flake.lock
Due: none

chore(flake/stylix): f8f4e3c3 -> c33226f2
  flake.lock
Due: none

chore(flake/home-manager): c6d4cb31 -> 97e3022a
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 040dee74 -> 83aac5a2
  flake.lock
Due: none

chore(flake/nixpkgs): 6a08e6bb -> 08dacfca
  flake.lock
Due: none

fix(hosts/spinoza): vaapiVdpau -> libva-vdpau-driver
  hosts/spinoza/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(nix/overlays/scripts): runCommandNoCC -> runCommand
  nix/overlays/scripts/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(graphical/fonts): noto-fonts-emoji -> noto-fonts-color-emoji
  graphical/fonts.nix
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(graphical/fonts): noto-fonts-extra -> noto-fonts
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): use latest rust-overlay for lanzaboote
  flake.lock
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/home-manager): 97e3022a -> 4ac96eb2
  flake.lock
Due: none

chore(flake/rust-overlay): 0881bcdf -> 6604534e
  flake.lock
Due: none

chore(flake/disko): 3a9450b2 -> 6f4cf5ab
  flake.lock
Due: none

chore(flake/nixos-hardware): 43ffe9ac -> 7467f155
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 83aac5a2 -> 5edc18b7
  flake.lock
Due: none
