Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

chore(flake/home-manager): 0adf9ba3 -> 5c71d4a7
  flake.lock
Due: none

chore(flake/nixpkgs): 7df7ff7d -> 01f116e4
  flake.lock
Due: none

chore(flake/treefmt-nix): f56b1934 -> 2eddae03
  flake.lock
Due: none

chore(flake/home-manager): 5c71d4a7 -> 82b58f38
  flake.lock
Due: none

fix(services/virt-manager): remove ovmf
  services/virt-manager.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/core/git): use settings
  hosts/hilbert/default.nix
  hosts/popper/default.nix
  users/bemeurer/core/git.nix
  users/bemeurer/core/neovim.nix
  users/bemeurer/darwin.nix
  users/bemeurer/trusted/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(users/bemeurer/graphical): move sioyek to linux-only
  users/bemeurer/graphical/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake): remove permittedInsecurePackages
  flake.nix
Due: nixpkgs-fmt, gen-ci

chore(flake/darwin): c3211fcd -> 7cd9aac7
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): 9485b043 -> d6b0f01e
  flake.lock
Due: none

chore(flake/home-manager): 82b58f38 -> c644cb01
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): d6b0f01e -> f81794d0
  flake.lock
Due: none

chore(flake/lovesegfault-vim-config): f81794d0 -> 8175330f
  flake.lock
Due: none

chore(flake/home-manager): c644cb01 -> 72960221
  flake.lock
Due: none

feat(users/bemeurer/core): add jq
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(hosts/hilbert): ensure ssh instead of opengpg for signing
  hosts/hilbert/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/lovesegfault-vim-config): 8175330f -> 6797c4d2
  flake.lock
Due: none

chore(flake/home-manager): 72960221 -> 64020f45
  flake.lock
Due: none

chore(flake/nix-fast-build): f50063e4 -> 41d0b008
  flake.lock
Due: none

chore(flake/nix-index-database): 5024e190 -> ed6b2931
  flake.lock
Due: none

chore(flake/home-manager): 64020f45 -> 18307160
  flake.lock
Due: none

chore(flake/nixpkgs): 01f116e4 -> 6a08e6bb
  flake.lock
Due: none
