Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

gen-ci:
  name: gen-ci
  entry: nix run .#gen-ci
  language: system
  description: Update CI description

chore(flake/darwin): efd35d99 -> 1c1dd8b0
  flake.lock
Due: none

chore(flake/darwin): 1c1dd8b0 -> 94212ebe
  flake.lock
Due: none

chore(flake/nixpkgs): 12303c65 -> b12803b6
  flake.lock
Due: none

refactor(services/syncthing): use new settings attr
  hosts/bohr/default.nix
  hosts/fourier/default.nix
  hosts/jung/default.nix
  hosts/nozick/default.nix
  services/syncthing.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fix(flake): don't shadow default substituters
  flake.nix
Due: nixpkgs-fmt, gen-ci

ci: remove magic-nix-cache
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

chore(flake/nix): 13d91ca0 -> a95057b7
  flake.lock
Due: none

refactor(users/bemeurer): always disable stylix kde
  users/bemeurer/core/default.nix
  users/bemeurer/graphical/darwin.nix
  users/bemeurer/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor: use flake input for base16-schemes
  core/default.nix
  flake.lock
  flake.nix
  nix/darwin.nix
  nix/home-manager.nix
  nix/nixos.nix
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/darwin): 94212ebe -> 16c07487
  flake.lock
Due: none

chore(flake/pre-commit-hooks): eb433bff -> 2ddd4dbc
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 2ddd4dbc -> fa01fdab
  flake.lock
Due: none

chore(flake/stylix): 34a6d389 -> 5c829554
  flake.lock
Due: none

chore(flake/pre-commit-hooks): fa01fdab -> 9289996d
  flake.lock
Due: none

chore(flake/nixpkgs): b12803b6 -> ef99fa5c
  flake.lock
Due: none

fix(graphical/fonts): move off of deprecated attr names
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/home-manager): ba2c0737 -> 8d243f7d
  flake.lock
Due: none

chore(flake/nixpkgs): ef99fa5c -> c9cf0708
  flake.lock
Due: none

chore(flake/stylix): 5c829554 -> 2719a57e
  flake.lock
Due: none

fix(graphical/fonts): correct eval on darwin
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

refactor(nix/overlays): remove upstreamed vim plugins
  nix/overlays/vim-plugins.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(nix/overlays/sway-scene-graph): update
  nix/overlays/sway-scene-graph.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

chore(flake/nixpkgs): c9cf0708 -> 2a9d660f
  flake.lock
Due: none

chore(flake/stylix): 2719a57e -> c29f2e6f
  flake.lock
Due: none

chore(flake/pre-commit-hooks): 9289996d -> 1e2443dd
  flake.lock
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
  gen-ci: any of: \.nix$
