Repository lovesegfault/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter, gen-ci

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: detect-private-key
  - id: forbid-new-submodules
  - id: mixed-line-ending

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter
  - name: gen-ci
    entry: nix run .#gen-ci
    files: "\\.nix$"
    language: system
    description: "Update CI description"
    id: gen-ci

flake.lock: Update
  flake.lock
Due: none

changed: unify programs decl in users/bemeurer
  users/bemeurer/core/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: set allowOther for persistence
  hosts/foucault/default.nix
  hosts/fourier/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: convert bimp to writeShellScriptBin
  nix/overlays/bimp.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: convert fixart to writeShellScriptBin
  nix/overlays/fixart.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: convert screenocr to writeShellScriptBin
  nix/overlays/screenocr.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: convert spawn to writeShellScriptBin
  nix/overlays/spawn.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

removed: plater overlay
  nix/overlays/plater.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

removed: stcg-build
  nix/overlays/stcg-build.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: convert mbk to writeShellScriptBin
  nix/overlays/mbk.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: screenocr formatting
  nix/overlays/screenocr.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: remove stray ; from mbk
  nix/overlays/mbk.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

added: writeSaneShellScriptBin builder
  nix/overlays/write-sane-shell-script-bin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate bimp to writeSaneShellScriptBin
  nix/overlays/bimp.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate fixart to writeSaneShellScriptBin
  nix/overlays/fixart.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate mbk to writeSaneShellScriptBin
  nix/overlays/mbk.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate screenocr to writeSaneShellScriptBin
  nix/overlays/screenocr.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate spawn to writeSaneShellScriptBin
  nix/overlays/spawn.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: script -> src
  nix/overlays/bimp.nix
  nix/overlays/fixart.nix
  nix/overlays/mbk.nix
  nix/overlays/screenocr.nix
  nix/overlays/spawn.nix
  nix/overlays/write-sane-shell-script-bin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate emojimenu to writeSaneShellScriptBin
  nix/overlays/menu/emojimenu.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: migrate gopassmenu to writeSaneShellScriptBin
  nix/overlays/menu/gopassmenu.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: escape name in otpmenu's getter
  nix/overlays/menu/default.nix
Due: nixpkgs-fmt, gen-ci

changed: use self instead of pkgs in menu
  nix/overlays/menu/default.nix
Due: nixpkgs-fmt, gen-ci

removed: any-nix-shell
  users/bemeurer/core/zsh.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: don't clobber PATH in writeSaneShellScriptBin
  nix/overlays/write-sane-shell-script-bin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

Revert "removed: any-nix-shell"
  users/bemeurer/core/zsh.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: use nix build as nix-build-uncached is broken in ci
  .github/workflows/ci.yaml
Due: none

Revert "Revert "changed: update nix-flakes-installer""
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

changed: remove gimp from user sway install
  users/bemeurer/sway/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: remove plater from user sway install
  users/bemeurer/sway/default.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

fixed: work around alacritty's segfault on exit
  nix/overlays/menu/emojimenu.nix
  nix/overlays/menu/gopassmenu.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

changed: add newline between sane header and code
  nix/overlays/write-sane-shell-script-bin.nix
Due: nixpkgs-fmt, nix-linter, gen-ci

removed: check-flake from CI, for now
  .github/workflows/ci.yaml
Due: none

Revert "flake.lock: Update"
  flake.lock
Due: none
